In [1]:
# Dependencies
import pandas as pd

In [2]:
# Import csv file into a data frame
csv_path = "Resources/bestsellers with categories.csv"
best_sellers_df1=pd.read_csv(csv_path)
best_sellers_df1

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [3]:
# Sort data frame by year (ascending) and set the index to the name of the best sellers
best_sellers_df2= best_sellers_df1.sort_values(by=['Year']).set_index("Name")

In [8]:
# Select for years 2010-2017
best_sellers_df3=best_sellers_df2.loc[(best_sellers_df2['Year']>=2010) & (best_sellers_df2['Year']<=2017)]

In [9]:
# Display the data frame
best_sellers_df3

,Author,User Rating,Reviews,Price,Year,Genre
Name,,,,,,
Radical: Taking Back Your Faith from the American Dream,David Platt,4.7,1985,9,2010,Non Fiction
"Towers of Midnight (Wheel of Time, Book Thirteen)",Robert Jordan,4.8,2282,21,2010,Fiction
"The Road to Serfdom: Text and Documents--The Definitive Edition (The Collected Works of F. A. Hayek, Volume 2)",F. A. Hayek,4.6,1204,14,2010,Non Fiction
The Official SAT Study Guide,The College Board,4.4,1201,40,2010,Non Fiction
The Girl with the Dragon Tattoo (Millennium Series),Stieg Larsson,4.4,10559,2,2010,Fiction
...,...,...,...,...,...,...
Make Your Bed: Little Things That Can Change Your Life...And Maybe the World,Admiral William H. McRaven,4.7,10199,11,2017,Non Fiction
The Instant Pot Electric Pressure Cooker Cookbook: Easy Recipes for Fast & Healthy Meals,Laurel Randolph,4.3,7368,7,2017,Non Fiction
Obama: An Intimate Portrait,Pete Souza,4.9,3192,22,2017,Non Fiction
Milk and Honey,Rupi Kaur,4.7,17739,8,2017,Non Fiction
Milk and Vine: Inspirational Quotes From Classic Vines,Adam Gasiewski,4.4,3113,6,2017,Non Fiction